# 21/04/2012 Modifié par FPO
# 23/10/2012 TSA : ajout de .dep.inc et de ce qui concerne la release
#

# on enlève tout ce qui est lié à la compilation (on ne laisse que les sources)
/bin/
/obj/
/nbproject/private/
/build/
/dist/
.dep.inc
